.footer-render{
   position: relative;
    bottom: 7px;
    right: -73%;
    width: 397px;
}
.header{
	margin-top:35px;
	margin-bottom:20px;
	margin-left: 193px;
}
.image-home
{
	width:150px;
	height:150px;
}
.main-page{
	
		min-height: 83%;
}
.none{
	  all: unset !important;
}
.with-margin-top
{
	margin-top: 20px;
}
    
 